<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <import resource="spring-db.xml"/>

    <context:component-scan base-package="com.cg.springstudy.dao.mybatis" />

    <!-- 事务管理配置start -->
    <bean id="myTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="myDataSource"/>
    </bean>

    <!--1、使用注解配置事务-->
    <tx:annotation-driven transaction-manager="myTransactionManager"/>

    <!--2、使用XML配置事务-->
    <!--<tx:advice id="txAdvice" transaction-manager="myTransactionManager">-->
        <!--<tx:attributes>-->
            <!--<tx:method name="add*" propagation="REQUIRED" rollback-for="Exception"/>-->
            <!--<tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"/>-->
            <!--<tx:method name="save*" propagation="REQUIRED" rollback-for="Exception"/>-->
            <!--<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception"/>-->
            <!--<tx:method name="generate*" propagation="REQUIRES_NEW" rollback-for="Exception"/>-->
            <!--<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>-->
            <!--<tx:method name="handle*" propagation="REQUIRED" rollback-for="Exception"/>-->
            <!--<tx:method name="inner*" propagation="REQUIRES_NEW" rollback-for="Exception"/>-->
            <!--<tx:method name="batchInner*" propagation="REQUIRES_NEW" rollback-for="Exception"/>-->
            <!--<tx:method name="*" propagation="SUPPORTS" read-only="true"/>-->
        <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <!--<aop:config>-->
        <!--<aop:pointcut id="interceptorPointCuts" expression="execution(* com.cg.springstudy..*.*(..))"/>-->
        <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="interceptorPointCuts"/>-->
    <!--</aop:config>-->

</beans>